/* 1. Estilos gerais*/
/**********************************/
body{
	background-color: #E3EEFF;
  font-family: "Fira Code",Arial, Helvetica, sans-serif;
}
p{
	line-height: 22px;
	padding: 0 10px;
}
hr {
	border: none;
	background-color: #36C4D0;
	height: 2px;
	width: 140px;
	margin: 10px auto;
}
main{
  margin-bottom: 100px;
}
/* 2. Menu*/
/**********************************/
.main-header{
    padding: 10px 20px;
    background-color: #F2E4F9;
    border-bottom: 3px solid #36C4D0;
 
}
.menu{
  display:flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  
}
.menu__logo {
	margin: 10px;
}
.menu__logo img {
  width:200px;
}
.nav__list{
  display: flex;
	flex-wrap: wrap;
  box-sizing: border-box;
}
.nav__list li {
  margin-left: 15px;
}
.nav__link {
  display:block;
  padding: 10px;
  text-transform: uppercase;
  color: #043D5D;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
.nav__link:hover{
  color :#000;
text-decoration: underline;
transform:scale(1.05);
}
/* 4. Quem somos
/**********************************/
.somos{
	max-width: 960px;
	margin: 0 auto;
  padding: 32px 0;
  box-sizing: border-box;
}
.section__titulo{
  font-family:"Pompiere", sans-serif ;
	text-align: center;
	font-size: 40px;
  font-weight: bold;
	margin: 10px 0;
  clear: left;
}
.somos-container__img{
  width:150px;
  float:left;
  margin: 0 20px 50px 0;
  cursor: pointer;
  transition: 500ms;

}
.somos-container__img:hover{
  opacity: 0.3;
}
#brigadeiro {
  width:150px;
  height:150px;
  
}
/* 4. Carrosel
/**********************************/
#items-wrapper {
width: 100vw;
margin-bottom: 100px;
}
#items{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
#items:hover{
  opacity: 0.8;
}
.item img{
 width:100%;
 height:100%;
 object-fit:cover;
 transition: 500ms;
}
.item {
  flex: none;
  width:20%;
  height:400px;
  scroll-snap-align: start;
  pointer-events: none;
}










/* 9. Footer
/**********************************/
.rodape {
  text-align: center;
  background-image: url("../img/cartoon_dessert.jpg");
  padding: 20px 0;

  
}
.rodape-descricao{
  font-size: 15px;
  font-weight: bold;
  color:#000;
  margin-top:20px;
}
.rodape .social-field{
  display:inline-block;
  width: 30px;
  padding: 20px;
  font-size: 30px;
  cursor:pointer;
  margin: 0 auto;

}
.rodape .social-field a {
  text-decoration: none;
  color:#360528;
}

